# VS Code files for those working on multiple tools
.vscode/*

# Local History for Visual Studio Code
.history/

# Node Modules
node_modules/
*/node_modules/*
packag-lock.json

# Log files
LOG/*

#
*/venv/*
*/venv
venv/*
**/venv/