:root {
    --bg: #181a27;
    --bglight: #252738;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.site {
    max-width: 400px;
    min-width: 250px;
    background-color: var(--bglight);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

.site p, .site p a{ 
    color: white;
    text-decoration: none;
}
.site p a {
    color: grey;
}
.site p a:hover{
    color: rgb(74, 67, 255);
}

#form {
    width: 100%;
}

#form input, #form label{
    display: block;
    margin: 15px 0;
    color: white;
    width: 100%;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-radius:3px;
    border: none;
}

#form input{
    width: calc(100% - 2*3px);
    color: black;
    font-size: 1rem;
    padding: 3px;
    transition: outline 0.1s;
}

#form input[type=submit] {
    text-align: center;
    margin-bottom: 0;
}

/* #form input[type=checkbox]:focus {
    outline: 0;
} */

#form input[type=text]:focus, #form input[type=password]:focus {
    outline: 2px solid white;
}

#form #ssignl, #form #ssign {
    display: inline-block;
    /* margin: 0; */
    padding: 15px 0;
    width: auto;
}

#form #ssignl {
    width: calc(100% - 100px);
}

#errors {
    color: red;
    font-size: 1.35rem;
}